*{
    margin: 0;
}

.header {
    background-color: #9fb39b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100px;
}

h1, h2 {
    display: inline-block;
    margin-left: 20px;
    color: #3b3e37;
}

h2 {
    font-family:'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
    margin-right: 20px;
}

a{
    color: #3b3e37;
    text-decoration: none;
}


img {
    width: 150px;
    height: 170px;
}